@page
@model ParkPlanner2.Pages.Visitor_CenterModel
@using ParkPlannerVisitor
@{
    ViewData["Title"] = "Vistor Center";
    var VisitorCenterList = (List<Datum>)ViewData["VisitorCenterList"];
}

<div>
    <div class="input-group row">
        <div class="col-2 font-weight-bold"><strong>Give a Park Code for the Visitor Center</strong></div>
        <input id="SearchItem" value="@Model.ParkCode" name="query" class="col form-control" type="text" />
        <div class="col-2">
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    </div>
    @if (string.IsNullOrWhiteSpace(Model.ParkCode))
    {

    }
    else if (VisitorCenterList == null)
    {
        <div class="alert alert-info"> Data for Vistor Center in this Park code [@Model.ParkCode] not found.</div>
    }
    else
    {
        <div>
            <br></br>
            <table class="table table-bordered table-hover">
                <tr id="table-header">
                    <th>Name</th>
                    <th>Description</th>
                    <th>Email</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                    <th>Sunday</th>
                    <th>Image</th>
                </tr>
                @{
                    foreach (Datum vc in VisitorCenterList)
                    {
                        <tr>
                            <td>@vc.Name</td>
                            <td>@vc.Description</td>
                            <td>@vc.Contacts.EmailAddresses[0].EmailAddressEmailAddress</td>
                            <td>@vc.OperatingHours[0].StandardHours.Monday</td>
                            <td>@vc.OperatingHours[0].StandardHours.Tuesday</td>
                            <td>@vc.OperatingHours[0].StandardHours.Wednesday</td>
                            <td>@vc.OperatingHours[0].StandardHours.Thursday</td>
                            <td>@vc.OperatingHours[0].StandardHours.Friday</td>
                            <td>@vc.OperatingHours[0].StandardHours.Saturday</td>
                            <td>@vc.OperatingHours[0].StandardHours.Sunday</td>
                            <td><img src=@vc.Images[0].Url alt="Vistor Center Photo" /></td>
                        </tr>
                    }
                }
            </table>
        </div>
    }
</div>
